
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Admin_Master_LayoutPage.cshtml";
}

<h2>Admin</h2>
<form >
    <input type="submit" value="Add details" formaction="AddDetails" />
    <input type="submit" value="Remove Car" formaction="RemoveCar" />
    <input type="submit" value="View Records" formaction="ViewRecords" />
</form>
